.downloads {
  position: relative;
  background-color: $dusky;
  color: $white;
}

.downloads__wrapper {
  min-width: 280px;
  padding: 28px 20px 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.downloads__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.downloads__button {
  margin-top: 28px;
  margin-bottom: 32px;
  background-color: transparent;
  color: $white;

  &:hover,
  &:focus {
    color: $ruby;
    background-color: $white;
  }

  &:active {
    color: rgba($ruby, 0.3);
  }
}

.downloads__link {
  display: block;
  margin: 17px;
}

.dowloads__tip {
  text-align: center;
}
