.features {
  position: relative;
  background-color: $white;
  color: $dusky;
}

.features__container {
  min-width: 280px;
  margin: 0 auto;
  padding: 0 6%;

  @media (min-width: $tablet-width) {
    max-width: 940px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.features__wrapper {
  min-width: 280px;
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 58px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 77px;
    padding-bottom: 65px;
  }
}

.features__slogan {
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    padding-bottom: 40px;
    width: 280px;
  }

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.features__wrapper-list {
  background-color: $smoke-white;
  padding-top: 53px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 5px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 32px;
    background-color: $white;
    top: 0;
    left: 0;
    clip-path: polygon(100% 0, 0 100%, 0 0);

    @media (min-width: $tablet-width) {
      height: 54px;
    }

    @media (min-width: $desktop-width) {
      height: 100px;
    }
  }
}

.features__list {
  display: grid;
  justify-items: center;
  position: relative;

  &::after {
    content: "";
    width: 157px;
    height: 277px;
    background-image: url("../img/background/feature-tablet.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 11px;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 482px;
      grid-row: 1 / 5;
      grid-column: 1 / 2;
      margin: 0;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 268px 1fr;
    column-gap: 42px;
    justify-content: left;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    justify-content: center;
  }
}

.features__item {
  text-align: center;
  position: relative;
  margin-bottom: 43px;

  @media (min-width: $tablet-width) {
    text-align: left;
    grid-column: 2 / 3;
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    grid-column: auto;
  }

  &--cheer {
    @media (min-width: $tablet-width) {
      grid-row-start: 2;
    }

    @media (min-width: $desktop-width) {
      grid-row-start: auto;
    }

    &::before {
      @media (min-width: $desktop-width) {
        background-image: url("../img/background/feature-1.png");
      }
    }
  }


  &--change {
    @media (min-width: $tablet-width) {
      grid-row-start: 3;
    }

    @media (min-width: $desktop-width) {
      grid-row-start: auto;
    }

    &::before {
      @media (min-width: $desktop-width) {
        background-image: url("../img/background/feature-2.png");
      }
    }
  }

  &--obtain {
    @media (min-width: $tablet-width) {
      grid-row-start: 4;
    }

    @media (min-width: $desktop-width) {
      grid-row-start: auto;
    }

    &::before {
      @media (min-width: $desktop-width) {
        background-image: url("../img/background/feature-3.png");
      }
    }
  }

  &::before {
    @media (min-width: $desktop-width) {
      content: "";
      display: block;
      height: 301px;
      background-repeat: no-repeat;
      background-position: center top;
      margin-bottom: 56px;
    }
  }
}

.features__heading {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.features__content {
  margin: 0 auto;
}
