.gallery-upload {
  position: relative;
}

.gallery-upload__container {
  width: 320px;
  margin: 0 auto;
  display: grid;
}

.gallery-upload__title {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin: 49px 20px 52px;
}
