// NOTE: логотип PINK подключение?

.page-header {
  position: relative;
  background-color: $dusky;
  color: $white;
}

.page-header__container {
  min-width: 280px;

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 147px 1fr;
    column-gap: 60px;
    align-items: center;
  }
}

.page-header__wrapper {
  height: 66px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    max-width: 940px;
    height: 110px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.page-header__nav-dropdown {
  display: block;
  position: relative;
  width: 50px;
  height: 24px;
  font-size: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 4px;
    background: $white;
    box-shadow: 0 9px 0 0 $white, 0 18px 0 0 $white;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
