.intro {
  max-height: 853px;
  position: relative;
  background-color: $dusky;
  color: $white;
}

.intro__container {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.intro__wrapper {
  padding-top: 29px;
  display: grid;
  justify-content: center;
}

.intro__caption {
  width: 280px;
  margin: 0 auto;
}

.intro__slogan {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 120%;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}
