.nav-main {
  background-color: $dusky;
  border-top: 1px solid $black;
}

.nav-main__list {
  display: flex;
  flex-wrap: wrap;
}

.nav-main__item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $black;
  height: 63px;
  flex: 1 1 auto;
  width: 100%;
}

.nav-main__link {
  color: $white;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  padding: 25px;
}
